{% set navigation_bar = [
('/', 'index', 'Home'),
('/story.html', 'story', 'Our Story'),
('/photos.html', 'photos', 'Photos'),

] %}
<!-- 
('/travel.html', 'travel', 'Travel Info'),
('/rsvp.html', 'rsvp', 'RSVP'),
('/registry.html', 'registry', 'Registry') -->

{% set active_page = active_page|default('404') %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    {% block title %}
    {% endblock %}
    Ian & Jess R Gett'n Hitched
  </title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css"
    integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-responsive-min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/base.css">
  <link rel="stylesheet" type="text/css" href="../static/css/fonts.css">
  <link rel="stylesheet" type="text/css" href="../static/css/{{active_page}}.css">
  <link rel="stylesheet" href="https://use.typekit.net/cfj0clq.css">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="../static/img/favicon/site.webmanifest">
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-DEL50H3TCV');
  </script>
</head>

<body class="background">
  <div>
    <div>
      <nav id="menu" class="pure-menu">
        <!-- [THE HAMBURGER] -->
        <label for="hamburger">&#9776;</label>
        <input type="checkbox" id="hamburger" />

        <ul class="pure-menu-list">
          {% for href, id, caption in navigation_bar %}
          <li{% if id==active_page %} class="pure-menu-item pure-menu-selected" {% endif%}>
            <a href="{{ href|e }}" class="pure-menu-link">{{ caption|e }}</a>
            </li>
            {% endfor %}
        </ul>
      </nav>
      <header class="infoBlockTop">
        <h1>
          <div class="center name">
            Ian & Jess
          </div>
        </h1>
        <div>
          <div class="date center">
            <div>
              August 21, 2021
            </div>
            <div class="center-item">•</div>
            <div>
              Minneapolis, MN
            </div>
          </div>
        </div>
        <div> {{days}} Days To Go!</div>
      </header>
      <div>
        <nav>
          <ul class="middlenav navbar">
            {% for href, id, caption in navigation_bar %}
            <li{% if id==active_page %} class="active-page" {% endif%}>
              <a href="{{ href|e }}">{{ caption|e }}</a>
              </li>
              {% endfor %}
          </ul>
      </div>
    </div>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  <script>
    function myFunction() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    };
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DEL50H3TCV"></script>
</body>

</html>