{% extends "base.html" %}
{% set active_page = "index" %}

{% block content %}
<div class="slideshow-container photo">
  <div class="mySlides fade">
    <img src="../static/img/photo4.jpg"  class="pure-img">
  </div>
  <div class="mySlides fade">
    <img src="../static/img/photo2.jpg" class="pure-img">
  </div>
  <div class="mySlides fade">
    <img src="../static/img/photo3.jpg" class="pure-img">
  </div>
  <div class="mySlides fade">
    <img src="../static/img/photo5.jpg" class="pure-img">
  </div>
  <div class="mySlides fade">
    <img src="../static/img/photo6.jpg" class="pure-img">
  </div>
</div>
<script>
  var slideIndex = 0;
  showSlides();
  function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) { slideIndex = 1 }
    slides[slideIndex - 1].style.display = "block";
    setTimeout(showSlides, 5000); // Change image every 2 seconds
  }
</script>
{% endblock %}