{% extends "base.html" %}
{% set active_page = "registry" %}

{% block content %}
  <div style="text-align: center;">
    Some of you are traveling across the states to celebrate with us in Minneapolis,
    so your presence means the world to us and is all we ask for.
    Especially during this time of Covid that has affected many of us.<br>
    If you'd still like to contribute to our registry or honeymoon funds, please use the link below.
    <p>
    <a href="https://www.travelersjoy.com/ianandjess2021">View Our Honeymoon Registry</a>
  </p>
  </div>
{% endblock %}