{% extends "base.html" %}
{% block title %}RSVP | {% endblock %}
{% set active_page = "rsvp" %}
{% block content %}

            <div>
                <p>
                  We can&#8217;t wait to see you and hope our special day is a special
                  date night for you, too.
                </p>
                <p>
                    If you can&#8217;t make the flight out Minnesota to celebrate with us, there will be another reception in Washington at a later date. <br>
                    (Late September / Early October)
                </p>
                {% if error %}
                    <p class="error label label-important"><strong>Error:</strong> {{ error }}</p>
                {% endif %}
                <div class="center">
                <form action="{{ url_for('rsvp') }}" method="POST" class="pure-form pure-form-aligned">
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="inputName">Name</label>
                            <input type="text" id="inputName" placeholder="Name" name="inputName"/>
                            <span class="pure-form-message-inline">This is a required field.</span>
                        </div>
                        <div class="pure-control-group">
                            <label for="inputGuest">Additional Guest</label>
                            <input type="text" id="inputGuest" name="inputGuest"/>
                        </div>
                        <div class="pure-control-group">
                            <label for="inputEmail">Email Address</label>
                            <input type="email" id="inputEmail" placeholder="Email Address" name="inputEmail" />
                        </div>
                        <div class="pure-control-group">
                              <label class="pure-radio">
                                <input
                                  type="radio"
                                  name="decision"
                                  id="optionsMinnesota"
                                  value="Minnesota"
                                  checked
                                />
                                I'll fly out to see you in Minnesota
                              </label>
                              <label class="pure-radio">
                                <input
                                  type="radio"
                                  name="decision"
                                  id="optionWashington"
                                  value="Washington"
                                />
                                I'll see you in Washington
                              </label>
                              <label class="pure-radio">
                                <input
                                  type="radio"
                                  name="decision"
                                  id="optionNotAttending"
                                  value="NotAttending"
                                />
                                Declines with regret
                              </label>
                          </div>
                          <div class="pure-control-group">
                            <label for="inputComment">Questions or Comments?</label>
                            <input type="text" id="inputComment" name="inputComment"/>
                        </div>
                        <div class="pure-controls">
                            <button type="submit" class="pure-button pure-button-primary" value="Send">Submit</button>
                        </div>


                    </fieldset>
                </form>
              </div>
            </div>

<!-- {% endblock %} -->
