{% extends "base.html" %}
{% set active_page = "story" %}

{% block content %}
<div>
  <p>
    So how did it all begin? Well, like a lot of modern day relationships it started online.<br>
    <br>
    But let’s go back a little bit further than that.<br><br>
    Initially both of us had joined a like minded in faith singles group. And also ironically
    neither us expected much of anything to come out of it. We were so wrong!
  </p>
  <p>
    The funny thing about our story over others is we did both notice each other well before we actually
    started
    talking. Maybe that was looking at the map of the US and going ‘that’s really far away’ or other logistics
    but eventually that was overcome. This group was a good place to learn basic get to know you questions and
    also see what one another looked like through a safe current platform.
  </p>
  <p>
    The first time we commented on anything was brief and it then nothing came of it. Later on we both started
    adding pictures on this picture weekly event. That went on for a few months of definitely noticing one
    another but not taking the next step outside of liking a photo. However one day one of us put one up and
    had
    a comment which led the other to comment, and so another engage a handful of months after an initial brief
    exchange occurred.
    Then before people got too bored of us messaging back and forth one of us went for it and sent the other a
    private message.
  <div class="photo float-right">
    <!-- Bacon ipsum dolor amet pancetta swine jowl, beef corned beef rump sausage brisket sirloin. Drumstick alcatra
            pork short
            loin turkey burgdoggen pig ribeye spare ribs. Flank meatball jowl kielbasa drumstick tail. Ball tip meatball
            pork loin,
            leberkas jerky landjaeger chuck tail ham drumstick picanha frankfurter alcatra pancetta. -->
    <img src="../static/img/1stmessg.jpg">
  </div>
  </p>
  <p>
    On that fateful day of May 16th 2019 I remember staying up waaaay past my bedtime that night enjoying a
    conservation that came super naturally that left me thinking ‘why didn’t you do this sooner?’ That’s a
    whole
    story in and of itself that can be saved for a different day.
  </p>
  <p>
    Ever since since then it just clicked. Those first few weeks was spent with many hours long conversations
    back and forth when we had nights free. It progressed to ‘we have to meet each other in person’ soon but
    the
    real question was when?
  </p>
  <p>
    An opportunity arose ironically when I was heading close by enough for a long weekend that we could meet
    one
    another. However that was several months out. The fact that we both were interested in hey let’s meet up
    so
    quickly
    was awesome!
    But as I said it was months away. Eventually it came to a point of ‘look we have this date planned out two
    and a half months from now but how about we meet before that?’ So we planned a weekend for a few weeks
    later. (Insert
    picture from first visit here) It’s funny we planned our second meet up before our first but it’s also
    kind
    of great to
    know we wanted to see another a second time.
  </p>
  <p>
    Ever since that first day of messaging we never stopped talking and after that first visit we always
    planned
    visits. And as the months went by and more visits happened everything fell into place in the best way. So
    that’s our
    story, romantic, a little quirky, but full of fun and adventure. Just how you want a story to start right?
    <br>

</div>
{% endblock %}