a {
  color: coral;
}

h1 {
  font-family: compendium;
}
body {
  color: antiquewhite;
}
html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: questa;
  line-height: 1.5;
  font-family: questa;
}
