div {
    color:antiquewhite;
}

.background {
  background: url(../img/tile.jpg), url(../img/background.jfif);
  background-size: auto, cover;
  background-blend-mode: saturation;
}

.infoBlockTop {
    text-align: center;
}

.map {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.names {
    line-height: 1;
    font-family: cursive;
    /* color: #fff; */
    font-size: 60px;
    font-weight: normal;
    margin: 16px 0;
    padding-top: 50px;
    padding-bottom: 10px;
}

.infoBlockBottom {
  padding-bottom: 80px;
}

.date {
    display: flex;
    border-right: 1px solid;
    justify-content: flex-end;
    align-items: center;
    width: 315px;
    padding: 20px 72px 20px 0;
}

.place {
        display: flex;
    align-items: center;
    width: 315px;
    padding: 20px 0 20px 72px;
}

.flights ul li a{
  color: coral;
}



.photo {
  display: block;
  width: 50%;
  padding: 30px;
}

  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .item{
      width:10%;
      display: flex;
  }
  .item.right{
      justify-content: flex-start;
  }

  .item.center {
      padding: 0 20px;
  }

  .item.left{
      justify-content: flex-end;
  }
 
  .topnav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 64px;
  }
  .topnavContainer{
    display: none;
    position: relative;
  }

  .navbar{
    margin: 16px 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    justify-content: center;
    list-style: none;
  }
    
  .navbar a {
    color: antiquewhite;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  ul.middlenav {
    display: flex;
  }
  
  ul.middlenav li {
      float: left;
      border-right: 1px solid antiquewhite;
    }
    ul.navbar li:last-child {
        border-right: none;
        }
  
  ul.navbar li a:hover:not(.active) {background-color: #111; color: coral;}

    
  .active {
    background: antiquewhite;
  }

  a.active {
    color: #333;
  }
  
  

  .head {
	position: fixed;
  display: none;
	top: 15px;
}


.head .icon {
	cursor: pointer;
	float: left;
	width: 61px;
	position: relative;
	height: 61px;
}

.head .icon div {
	position: absolute;
	left: 50%;
	top: 58%;
	-webkit-transform: translateX(-50%) translateY(-6px);
	transform: translateX(-50%) translateY(-6px);
	width: 18px;
	height: 1px;
	z-index: 999;
	background: #fff;
}



.head .icon div,
.head .icon div:before,
.head .icon div:after {
    width: 18px;
    height: 2px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: #fff;
}

.head .icon div:before,
.head .icon div:after {
    content: "";
    position: absolute;
}

.head .icon div:before {
    top: -6px;
}

.head .icon div:after {
    top: 6px;
}

.head .icon svg {
	z-index: 10;
    width:100%;
    height:100%;
}
.travel-info{
  display: flex;
}
.wedding{
  text-align: center;
  width: 50%;
}
.flights{
  text-align: center;
  width: 50%;
}

.flights div ul {
  list-style-type:none;
  padding: 0;
}

  /* hide when widith is in phone */
@media screen and (max-width: 600px) {
  ul.middlenav{
    display: none;
  }
  .head{
    display: block;
  }
  .travel-info{
    flex-direction: column;
  }
  .wedding{
    margin: 16px 0;
    width: 100%;
  }
  .flights{
    margin-top: 16px;
    width: 100%;
  }
}




/* Slideshow container */
.slideshow-container {
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}